@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
    --text: #fff;
    --text-secundary: #111;
    --bg-primary: #f60f20;
    --menu-bg-color: #fff;
    --background: #641b4e;
}
body {
    background: var(--background);
}
section {
    position: relative;
    padding: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
section .logo {
    position: fixed;
    top: 1.8rem;
    color: var(--text);
    font-weight: 700;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}
section .bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

section .content {
    position: relative;
    max-width: 40rem;
    z-index: 1;
}

section .content h2 {
    color: var(--text);
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1em;
}
section .content p {
    color: var(--text);
    font-size: 1.1em;
    margin: 1.2rem 0 .6rem;
}
section .content a {
    color: var(--text);
    background: var(--bg-primary);
    font-size: 1em;
    margin: 1.2rem 0;
    font-weight: 500;
    padding: .6rem 1.8rem;
    display: inline-block;
    text-decoration: none;
}
.copyrightText {
    position: absolute;
    bottom: 1.2rem;
    color: var(--text);
    font-size: 1.1em;
    margin: 1.2rem 0 .6rem;
}
.menuToggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 3.7rem;
    height: 3.7rem;
    background: var(--bg-primary) url(images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.8rem;
    cursor: pointer;
    z-index: 1000;
}
.menuToggle.active {
    background: var(--bg-primary) url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
}
.navigation {
    position: fixed;
    top: 0;
    left: calc(100% - 3.7rem);
    width: 100%;
    height: 100%;
    background: var(--menu-bg-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.navigation.active {
    left: 0;
}
.navigation ul {
    position: relative;

}
.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
    
}
.navigation ul li a {
    font-size: 2.5em;
    color: var(--text-secundary);
    text-decoration: none;
    font-weight: 300;
}
.navigation ul li a:hover {
    color: var(--bg-primary);
}
.socialBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.7rem;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialBar ul {
    position: relative;
}
.socialBar ul li {
    position: relative;
    list-style: none;
}
.socialBar ul li a {
    position: relative;
    display: inline-block;
    transform: scale(0.6);
}
.socialBar .emailBx {
    position: absolute;
    bottom: 1.2rem;
    transform: scale(0.6);
}
@media (max-width: 767px) {
    section {
        padding: 6.2rem 2.5rem;        
    }
    section .content h2 {
        font-size: 2.5em;
    }
    section .bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
    section .logo {
        top: .6rem;
        font-size: 1.5em;
    }
    .navigation {
        left: 100%;
    }
    .navigation ul li a {
        font-size: 2em;
    }

}